@import '../../theme/theme.scss';

.detail-view {
    padding: $size-sm;
    max-height: 320px;
    overflow-y: auto;

    &__row {
        
        &:not(.header) {
            display: flex;
            align-items: center;
        }

        & + & {
            margin-top: $size-xs;
        }

        &-col {
            display: flex;
            align-items: center;
            & + & {
                margin-left: $size-sm;
            }
        }
    }
}

.title {
    font-size: $size-md;
    margin-bottom: $size-xs;
}

.subtitle {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 500;
}