@import './theme/theme.scss';

.app {
  &__header {
    background-color: #f8f9fa;

    &-navbar {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: $size-sm;

      @media (min-width: $tablet) {
        flex-direction: row;
        justify-content: space-between;
      }

      .app-title {
        font-size: $size-md;
        margin-bottom: $size-md;

        @media (min-width: $tablet) {
          margin-bottom: 0;
        }
      }
    }
  }
}

.date-inputs {
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: $size-xs;

  @media (min-width: $tablet) {
    grid-template-rows: auto;
    row-gap: 0;
    grid-template-columns: repeat(2, auto);
    column-gap: $size-sm;
  }

  @media (min-width: $desktop) {
    column-gap: $size-md;
  }

  &__elem {
    width: 100%;
  }
}